body { background-color: #f7f7f7;
        font-family: "Merriweather", sans-serif;
        color: #333333;
        margin: 0;
        padding: 0; }

header { background-color: #ffffff;
         padding: 20px;
         text-align: center; }

h1 { font-size: 36px;
     color: #333333;
     letter-spacing: 2px; }

nav { background-color: #e8e8e8;
      padding: 10px;
      text-align: center; }

nav a { color: #333333;
        text-decoration: none;
        margin: 0 10px; }

main { background-color: #ffffff;
       padding: 20px;
       margin: 20px; }

footer { background-color: #e8e8e8;
         padding: 10px;
         text-align: center;
         font-size: 14px; }


.frame {border: 2px solid beige; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); padding: 10px;}
.container {display: flex; justify-content: space-between;}
.inspiration {margin-right: 400px;}
